*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
button{
    text-transform: uppercase;
}
                /* header section start */
.header{
    background-color: whitesmoke;
    height: 7vh;
    position: sticky;
    opacity: 0.7;
    top: 0;
    z-index: 1;
}
.header h1{
    color:black;
    font-size: 25px;
    padding-right: 150px;
    text-decoration: none !important;
    animation: movedown 1s linear 1;
    animation-delay: 1s;
    font-family:cursive;
    cursor: pointer;
    /* visibility: hidden; */
    animation-fill-mode: forwards;
}
nav{
    display: flex;
    justify-content: space-evenly;
    margin: 0px 20px;
    padding: 3px 40px;
    align-items: center; 
}
.navlinks{
    flex: 1;
    animation: movedown 1s linear 1;
    animation-delay: 2s;
    /* visibility: hidden; */
    animation-fill-mode: forwards;
   
}
.navlinks ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    position:relative;
    transition: 1s;
    text-transform: uppercase;
}
.navlinks ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 14px;
}
.navlinks ul li a:hover{
    /* color: rgb(204, 0, 194); */
    color: rgb(12, 135, 192);
    /* transform: scale(0.8); */
}
.sub-navlinks{
    display:block;
    width: 170px;
    z-index: -1;
    position: absolute;
    opacity: 0;
    transition: .5s;
}
.sub-navlinks ul li a{
    transition: .5s;
    /* display: inline; */
}
.sub-navlinks ul li p{
    transition: .5s;
    display: flex;
}
.sub-navlinks ul li p span{
    font-size: 8px;
    color: red;
    /* text-align: center; */
}
.navlinks ul li:hover>.sub-navlinks{
    color: white;
    z-index: 1;
    background-color: whitesmoke;
    margin-top: 5px;
    opacity: .9;
}
.navlinks ul li:hover>.sub-navlinks ul li{
    width: 170px;
    z-index: 2;
    margin: 10px 5px;
    padding: 5px 10px;
    transition: .5s;
}
.navlinks ul li:hover>.sub-navlinks ul li a:hover{
    /* color: rgb(255, 2, 242); */
    color: rgb(12, 135, 192);
    
    /* transform: translateX(2px); */
}
.icons i{
    font-size: 18px;
    padding-top: 5px;
    /* color: whitesmoke; */
    color: black;
    cursor: pointer;
}
.icons{
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    animation: movedown 1s linear 1;
    animation-delay: 3s;
    /* visibility: hidden; */
    animation-fill-mode: forwards;
}
.icon{
    display: inline-block;
    padding: 0px 17px;
    color: rgb(46, 46, 46);
    text-align: center;
}
.choose{
    /* text-align: center; */
    /* display: none; */
    width: 12%;
    margin: 10px 20px;
    background-color: black;
    position: absolute;
    top:40px;
    right: 2%;
    padding: 5px 10px;
    transition: 1s;
    /* z-index: -5; */
    opacity: 0;
    visibility: hidden;
}
.choose p{
    font-size: 13px;
    margin: 3px 5px;
    padding: 3px 5px;
    cursor: pointer;
    transition: .5s;
    color: whitesmoke;
}
.choose a{
    text-decoration: none;

}
.choose p:hover{
    color: rgb(12, 135, 192);
    transform: translateX(10px)
}

.sub-section {
    height: 5vh;
    /* background-color: rgb(255, 255, 255); */
    /* background-color: black; */
    background-color: rgb(175, 175, 243);
    padding: 0px 55px;
}

.sub-section span {
    display: inline-block;
    /* color: whitesmoke; */
    color: black;
    margin: 5px 5px;
    padding: 5px 0px;
    font-size: 13px;
    align-items: center;
}

.sub-section span a {
    text-decoration: none;
    /* color: whitesmoke; */
    color: black;
}

.container h1 {
    color: black;
    font-size: 23px;
    font-family: cursive;
    font-weight: 800;
    /* position: absolute;
    top: 10%;
    left: 40%; */
    text-align: center;
    margin: 60px 0px 0px 20px;
    padding: 0px 10px;
}
.container p i{
    font-size: 12px;
    margin: 30px 0px 0px 100px;
}
.new-products{
    width: 90%;
    height: 50%;
    margin: 0px auto  90px auto;
    text-align: center;
    transition: 1s;
}
.new-products h2{
    /* font-family: 'Akaya Telivigala', cursive; */
    color: rgb(53, 52, 52);
    padding-bottom: 10px;
    font-size: 30px;
}
.new-new-products{
    /* border: 2px solid brown; */
    position: relative;
}
/* .new-products h2::after{
    content: '';
    width: 15%;
    height: 1px;
    background: rgb(0, 0, 0);
    margin: 2px auto;
    padding-top: 5px;
    display: block;
} */
.products-prd{
    /* border: 2px solid blue; */
    position: relative;
}
.products{  
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    margin: 10px auto;
    padding: 10px 10px;
    /* position: absolute;
    top: 0; */
    /* left: 20%; */
    z-index: 1;
    /* height: 100%; */
    /* border: 2px solid yellow; */
    /* visibility: hidden; */
}
.sub-product{
    width: 100%;
    /* height: 100%; */
    /* position: relative; */
    /* border: 2px solid red; */
    margin: 10px 30px 50px 10px;
    margin: 10px;
}
.products img{
    width: 100%;
    object-position: center;
    object-fit: contain;
    transition: .5s;
    cursor: pointer;
    
}
.products-row{
    border: .5px solid rgb(202, 202, 202,0.3);
    width: 100%;
    height: 115%;
    /* margin: 5px 20px; */
    position: relative;
    /* background-color: #a2b2f7; */
    transition: .5s;
    
}
.products-row i{
    color: rgb(0, 0, 0);
    /* color: rgba(133, 9, 116, 0.7); */
    padding: 10px 0px;
    font-size: 13px;
    text-align: center;
    /* float: left; */
}
.products-row:hover{
    border: .5px solid rgb(12, 135, 192);
    /* transform: scale(1.1); */
}
.overlay{
    /* background: rgb(12, 135, 192); */
    background-color: black;
    /* background:#7386da;; */
    /* border-radius: 15px; */
    width: 25px;
    height: 60px;
    position: absolute;
    top: -5%;
    left: 17px;
    transform: rotate(90deg);
    /* border: 2px solid rgb(68, 7, 17); */
    transition: 1s;
    opacity: 1;
}
.overlay p i{
    color: whitesmoke;
    /* color: black; */
    /* width: 10%; */
    /* height: 10vh; */
    /* font-weight: bolder; */
    position: absolute;
    top: 20%;
    left: -5%;
    /* right: 5%; */
    transform: rotate(-90deg);
}
.wishlist i{
    font-size: 15px;
    position: absolute;
    padding: 5px;
    top: 0px;
    /* left: 40%; */
    right: 0;
    opacity: 0;
    border: 1px solid rgb(0, 0, 0,.2);
    /* background-color: rgb(12, 135, 192); */
    background-color: black;
    /* background-color: black; */
    /* bottom: 30%; */
    cursor: pointer;
    transition: .5s;
    color: whitesmoke;
}
.cart-btn{
    border: .5 solid rgba(0,0,0,0.5);
    border-radius: 50px;
    position: absolute;
    font-size: 12px;
    bottom: 5px;
    left: 27%;
    width: 40%;
    background-color: black;
    color: whitesmoke;
    margin: 5px 10px;
    padding: 5px 10px;
    transition: 1s;
    opacity: 0;
}
.cart-btn:hover{
    background: transparent;
    color: black;
}
.products-row:hover .cart-btn{
    opacity: 1;
}

.products-row:hover>.overlay{
    opacity: 1;
    transform: rotate(90deg);
}
.products-row:hover>.wishlist img{
    opacity: 1;
}
.products-row p{
    text-align: center;
    font-weight: 500;
    padding-top: 5px;
    font-size: 16px;
}
.products-row span{
    color: rgb(0, 0, 0);
}
.add-cart i{
    font-size: 13px;
    position: absolute;
    padding: 5px;
    top: 30px;
    /* left: 50%; */
    right: 0;
    opacity: 0;
    border: 1px solid rgb(0, 0, 0,.2);
    /* background-color: rgb(12, 135, 192); */
    background-color: black;
    /* bottom: 30%; */
    cursor: pointer;
    transition: .5s;
    color: whitesmoke;
}
.products-row:hover>.add-cart i{
    opacity: 1;
}
.products-row:hover>.wishlist i{
    opacity: 1;
}


.second-products{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    margin: 20px auto;
    padding: 10px 10px;
    /* position: absolute;
    top: -6%; */
    /* transition: 1s; */
    z-index: 1;
    /* border: 2px solid yellow; */
    /* visibility: hidden; */
    /* opacity: 0; */
}
.second-sub-product{
    width: 100%;
    /* position: relative; */
    /* border: 2px solid red; */
    margin: 10px;
}
.second-products img{
    width: 100%;
    object-position: center;
    object-fit: contain;
    transition: .5s;
    cursor: pointer;
    
}
.second-products-row{
    border: .5px solid rgb(202, 202, 202,0.3);
    width: 100%;
    height: 115%;
    /* margin: 5px 20px; */
    position: relative;
    /* background-color: #a2b2f7; */
    transition: .5s;
    
}
.second-products-row i{
    color: rgb(0, 0, 0);
    /* color: rgba(133, 9, 116, 0.7); */
    padding: 10px 0px;
    font-size: 13px;
    text-align: center;
    /* float: left; */
}
.second-products-row:hover{
    border: .5px solid rgb(12, 135, 192);
    /* transform: scale(1.1); */
}
/* .second-products-row:hover>.wishlist img{
    opacity: 1;
} */
.second-products-row p{
    text-align: center;
    font-weight: 500;
    padding-top: 5px;
    font-size: 16px;
}
.second-products-row span{
    color: rgb(0, 0, 0);
}
.second-products-row:hover .cart-btn{
    opacity: 1;
}
.second-add-cart i{
    font-size: 13px;
    position: absolute;
    padding: 5px;
    top: 30px;
    right: 0;
    opacity: 0;
    border: 1px solid rgb(0, 0, 0,.2);
    /* background-color: rgb(12, 135, 192); */
    background-color: black;
    /* bottom: 30%; */
    cursor: pointer;
    transition: .5s;
    color: whitesmoke;
}
.second-wishlist i{
    font-size: 15px;
    position: absolute;
    padding: 5px;
    top: 0px;
    right: 0;
    opacity: 0;
    border: 1px solid rgb(0, 0, 0,.2);
    /* background-color: rgb(12, 135, 192); */
    background-color: black;
    /* bottom: 30%; */
    cursor: pointer;
    transition: .5s;
    color: whitesmoke;
}
.second-products-row:hover>.second-add-cart i{
    opacity: 1;
}
.second-products-row:hover>.second-wishlist i{
    opacity: 1;
}

/* third products section start */

.third-products{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    margin: 20px auto;
    padding: 10px 10px;
    /* position: absolute;
    top: -6%; */
    z-index: 1;
    /* opacity: 0; */
    /* visibility: hidden; */
}
.third-sub-product{
    width: 100%;
    position: relative;
    /* border: 2px solid red; */
    margin: 10px;
}
.third-products img{
    width: 100%;
    object-position: center;
    object-fit: contain;
    transition: .5s;
    cursor: pointer;  
}
.third-products-row{
    border: .5px solid rgb(202, 202, 202,0.3);
    width: 100%;
    height: 115%;
    position: relative;
    /* background-color: rgb(250, 250, 250); */
    /* background-color: #a2b2f7; */
    transition: .5s;
}
.third-products-row i{
    color: rgb(0, 0, 0);
    /* color: rgba(133, 9, 116, 0.7); */
    padding: 10px 0px;
    font-size: 13px;
    text-align: center;
    /* float: left; */
}
.third-products-row:hover{
    border: .5px solid rgb(12, 135, 192);
    /* transform: scale(1.1); */
}
.third-products-row p{
    text-align: center;
    font-weight: 500;
    padding-top: 5px;
    font-size: 16px;
}
.third-products-row span{
    color: rgb(0, 0, 0);
}
.third-products-row:hover .cart-btn{
    opacity: 1;
}
.third-add-cart i{
    font-size: 13px;
    position: absolute;
    padding: 5px;
    top: 30px;
    right: 0;
    opacity: 0;
    border: 1px solid rgb(0, 0, 0,.2);
    /* background-color: rgb(12, 135, 192); */
    background-color: black;
    /* bottom: 30%; */
    cursor: pointer;
    transition: .5s;
    color: whitesmoke;
}
.third-wishlist i{
    font-size: 15px;
    position: absolute;
    padding: 5px;
    top: 0px;
    right: 0;
    opacity: 0;
    border: 1px solid rgb(0, 0, 0,.2);
    /* background-color: rgb(12, 135, 192); */
    background-color: black;
    /* bottom: 30%; */
    cursor: pointer;
    transition: .5s;
    color: whitesmoke;
}
.third-products-row:hover>.third-add-cart i{
    opacity: 1;
}
.third-products-row:hover>.third-wishlist i{
    opacity: 1;
}

         /* third products section end */

/* fourth products section start */

.fourth-products{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    margin: 20px auto;
    padding: 10px 10px;
    /* position: absolute;
    top: -6%; */
    z-index: 1;
    /* opacity: 0; */
    /* visibility: hidden; */
}
.fourth-sub-product{
    width: 100%;
    position: relative;
    /* border: 2px solid red; */
    margin: 10px;
}
.fourth-products img{
    width: 100%;
    object-position: center;
    object-fit: contain;
    transition: .5s;
    cursor: pointer;  
}
.fourth-products-row{
    border: .5px solid rgb(202, 202, 202,0.3);
    width: 100%;
    height: 115%;
    position: relative;
    /* background-color: rgb(250, 250, 250); */
    /* background-color: #a2b2f7; */
    transition: .5s;
}
.fourth-products-row i{
    color: rgb(0, 0, 0);
    /* color: rgba(133, 9, 116, 0.7); */
    padding: 10px 0px;
    font-size: 13px;
    text-align: center;
    /* float: left; */
}
.fourth-products-row:hover{
    border: .5px solid rgb(12, 135, 192);
    /* transform: scale(1.1); */
}
.fourth-products-row p{
    text-align: center;
    font-weight: 500;
    padding-top: 5px;
    font-size: 16px;
}
.fourth-products-row span{
    color: rgb(0, 0, 0);
}
.fourth-add-cart i{
    font-size: 13px;
    position: absolute;
    padding: 5px;
    top: 30px;
    right: 0;
    opacity: 0;
    border: 1px solid rgb(0, 0, 0,.2);
    /* background-color: rgb(12, 135, 192); */
    background-color: black;
    /* bottom: 30%; */
    cursor: pointer;
    transition: .5s;
    color: whitesmoke;
}
.fourth-wishlist i{
    font-size: 15px;
    position: absolute;
    padding: 5px;
    top: 0px;
    right: 0;
    opacity: 0;
    border: 1px solid rgb(0, 0, 0,.2);
    /* background-color: rgb(12, 135, 192); */
    background-color: black;
    /* bottom: 30%; */
    cursor: pointer;
    transition: .5s;
    color: whitesmoke;
}
.fourth-products-row:hover .cart-btn{
    opacity: 1;
}
.fourth-products-row:hover>.fourth-add-cart i{
    opacity: 1;
}
.fourth-products-row:hover>.fourth-wishlist i{
    opacity: 1;
}

         /* fourth products section end */

/* fifth products section start */

.fifth-products{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    margin: 20px auto;
    padding: 10px 10px;
    /* position: absolute;
    top: -6%; */
    z-index: 1;
    /* opacity: 0; */
    /* visibility: hidden; */
}
.fifth-sub-product{
    width: 100%;
    position: relative;
    /* border: 2px solid red; */
    margin: 10px;
}
.fifth-products img{
    width: 100%;
    object-position: center;
    object-fit: contain;
    transition: .5s;
    cursor: pointer;  
}
.fifth-products-row{
    border: .5px solid rgb(202, 202, 202,0.3);
    width: 100%;
    height: 115%;
    position: relative;
    /* background-color: rgb(250, 250, 250); */
    /* background-color: #a2b2f7; */
    transition: .5s;
}
.fifth-products-row i{
    color: rgb(0, 0, 0);
    /* color: rgba(133, 9, 116, 0.7); */
    padding: 10px 0px;
    font-size: 13px;
    text-align: center;
    /* float: left; */
}
.fifth-products-row:hover{
    border: .5px solid rgb(12, 135, 192);
    /* transform: scale(1.1); */
}
.fifth-products-row p{
    text-align: center;
    font-weight: 500;
    padding-top: 5px;
    font-size: 16px;
}
.fifth-products-row span{
    color: rgb(0, 0, 0);
}
.fifth-add-cart i{
    font-size: 13px;
    position: absolute;
    padding: 5px;
    top: 30px;
    right: 0;
    opacity: 0;
    border: 1px solid rgb(0, 0, 0,.2);
    /* background-color: rgb(12, 135, 192); */
    background-color: black;
    /* bottom: 30%; */
    cursor: pointer;
    transition: .5s;
    color: whitesmoke;
}
.fifth-products-row:hover .cart-btn{
    opacity: 1;
}
.fifth-wishlist i{
    font-size: 15px;
    position: absolute;
    padding: 5px;
    top: 0px;
    right: 0;
    opacity: 0;
    border: 1px solid rgb(0, 0, 0,.2);
    /* background-color: rgb(12, 135, 192); */
    background-color: black;
    /* bottom: 30%; */
    cursor: pointer;
    transition: .5s;
    color: whitesmoke;
}
.fifth-products-row:hover>.fifth-add-cart i{
    opacity: 1;
}
.fifth-products-row:hover>.fifth-wishlist i{
    opacity: 1;
}

/* fifth products section end */

/* sixth products section start */

.sixth-products{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    margin: 20px auto;
    padding: 10px 10px;
    /* position: absolute;
    top: -6%; */
    z-index: 1;
    /* opacity: 0; */
    /* visibility: hidden; */
}
.sixth-sub-product{
    width: 100%;
    position: relative;
    /* border: 2px solid red; */
    margin: 10px;
}
.sixth-products img{
    width: 100%;
    object-position: center;
    object-fit: contain;
    transition: .5s;
    cursor: pointer;  
}
.sixth-products-row{
    border: .5px solid rgb(202, 202, 202,0.3);
    width: 100%;
    height: 115%;
    position: relative;
    /* background-color: rgb(250, 250, 250); */
    /* background-color: #a2b2f7; */
    transition: .5s;
}
.sixth-products-row i{
    color: rgb(0, 0, 0);
    /* color: rgba(133, 9, 116, 0.7); */
    padding: 10px 0px;
    font-size: 13px;
    text-align: center;
    /* float: left; */
}
.sixth-products-row:hover{
    border: .5px solid rgb(12, 135, 192);
    /* transform: scale(1.1); */
}
.sixth-products-row p{
    text-align: center;
    font-weight: 500;
    padding-top: 5px;
    font-size: 16px;
}
.sixth-products-row span{
    color: rgb(0, 0, 0);
}
.sixth-products-row:hover .cart-btn{
    opacity: 1;
}
.sixth-add-cart i{
    font-size: 13px;
    position: absolute;
    padding: 5px;
    top: 30px;
    right: 0;
    opacity: 0;
    border: 1px solid rgb(0, 0, 0,.2);
    /* background-color: rgb(12, 135, 192); */
    background-color: black;
    /* bottom: 30%; */
    cursor: pointer;
    transition: .5s;
    color: whitesmoke;
}
.sixth-wishlist i{
    font-size: 15px;
    position: absolute;
    padding: 5px;
    top: 0px;
    right: 0;
    opacity: 0;
    border: 1px solid rgb(0, 0, 0,.2);
    /* background-color: rgb(12, 135, 192); */
    background-color: black;
    /* bottom: 30%; */
    cursor: pointer;
    transition: .5s;
    color: whitesmoke;
}
.sixth-products-row:hover>.sixth-add-cart i{
    opacity: 1;
}
.sixth-products-row:hover>.sixth-wishlist i{
    opacity: 1;
}
.sixth-products-row>.overlay p i{
    color: rgb(254, 82, 82);
    /* color: black; */
    /* width: 10%; */
    /* height: 10vh; */
    /* font-weight: bolder; */
    position: absolute;
    top: 18%;
    left: -45%;
    /* right: 5%; */
    transform: rotate(-90deg);
}
/* sixth products section end */


/* footer section start  */
.foot{
    /* background: rgb(0, 0, 0); */
    /* background: rgb(160, 160, 243); */
    background: rgb(175, 175, 243);
    width: 100%;
    height: 50vh;
    /* border: 2px solid red; */
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0px 50px; */
    /* padding: 120px 50px; */
    /* border: 2px solid wheat; */
}
.sub-footer{
    /* border: 2px solid cyan; */
    margin: 20px 80px;
    padding: 10px 20px;
    text-align: center;
}
.sub-footer a{
    /* text-transform: uppercase; */
    text-decoration: none;
}
.footer h2{
    /* color: whitesmoke; */
    padding: 10px 0;
    /* font-family: 'Akaya Telivigala', cursive; */
    /* color: rgb(204, 204, 204); */
    color: black;
}
.footer p{
    /* color: whitesmoke; */
    text-decoration: none;
    /* text-transform: uppercase; */
    color: black;
    padding: 5px 0;
    font-size: 13px;
    cursor: pointer;
    transition: .5s;
}
.footer p:hover{
    /* color: rgb(255, 2, 242); */
    color: rgb(12, 135, 192);
    transform: scale(1.1);
}
.footer i{
    /* color: whitesmoke; */
    color: black;
    padding: 0 15px;
    cursor: pointer;
}
.media-contact{
    /* width:    80%; */
    display: flex;
    justify-content: center;
}
.social-media{
    padding: 10px 15px;
    margin: 0px 10px 10px 10px;  
}
.social-media i{
    font-size: 20px;
    /* color: whitesmoke; */
    color: black;
    transition: .5s;
}
#insta i:hover{
    transform: rotate(360deg);
    color: rgb(226, 42, 119);
}
#fb i:hover{
    transform: rotate(360deg);
    color: rgb(14, 103, 145);
}
#tweet i:hover{
    transform: rotate(360deg);
    color: rgb(12, 135, 192);
}

#yt i:hover{
    transform: rotate(360deg);
    color: rgb(207, 13, 13);
}

.copy p{
    /* color: whitesmoke; */
    color: black;
    text-align: center;
    margin: 22px 20px;
    font-size: 14px;
}
.copy span{
    color: rgb(73, 73, 73);
    transition: .5s;
    cursor: pointer;
}
.copy span:hover{
    /* color: rgb(255, 2, 242); */
    color: rgb(12, 135, 192);
    transform: scale(1.1);
}
/* footer section end  */